.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    pointer-events: none;
    z-index: 1000;
    display: none;
}

.arrow.right {
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent green;
}

.arrow.down {
    border-width: 10px 10px 0 10px;
    border-color: green transparent transparent transparent;
}

.arrow.left {
    border-width: 10px 10px 10px 0;
    border-color: transparent green transparent transparent;
}

.arrow.up {
    border-width: 10px 10px 0 10px;
    border-color: green transparent transparent transparent;
    transform: rotate(180deg);
}
