#skills label {
    font-weight: bold;
    font-size: 1.2em;
    transition: opacity 0.5s;
}

#skills label.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
